@font-face {
    font-family: 'Logo';
    src: url('/font/Andasia.ttf') format('woff');
}

@font-face {
    font-family: 'Titulosh1';
    src: url('/font/CaslonCP.otf') format('woff');
}

@font-face {
    font-family: 'Letterfont';
    src: url('/font/Elegant\ Sans\ Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:5px solid white;
}

/* {
    border: 3px solid red;

}*/

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wine {

    flex: 1;
    text-align: left;
}

.price-cup,
.price-bottle {
    flex: 0.5;
    text-align: right;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
}

h1 {
    text-align:center;
    font-family: "Titulosh1";
    letter-spacing: 16px;
}

h2 {
    font-family: 'Titulosh1';
}

p {
    font-family: "Letterfont";
    font-size: 38px;
}