
@font-face {
    font-family: 'Titulosh1';
    src: url('/font/CaslonCP.otf') format('woff');
}

@font-face {
    font-family: 'Letterfont';
    src: url('/font/Elegant\ Sans\ Regular.ttf') format('woff');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
   
}

main {
  background-color: #f8f8f8;
background-image: url('./img/Fondo.jpg');
 background-size: auto 100%;
    background-position: center;
    height: 100vh; 
    margin: 0;
    margin-bottom: 4vh;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
    background-color: #f0f0f0;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: center;
    font-size: 16px;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: center;
    overflow: hidden;
    display:flex;
    justify-content: center;

}

.dropdown .dropbtn {
    font-size: 20px;
    outline: none;
    color: #999;
    padding: 14px 16px;
    border: solid 3px #41403E;
    font-family: "Titulosh1";
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: "Letterfont";
    font-size: 20px;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap:10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
        flex-direction: row;
        gap:15px;
       
}

.show {
    display: block;
}



.logo {
    max-width: 100%;
    height: 5vh;

}

.flag {
    width:2vw ;
    height: auto;
}